.title {
    font: var(--font-l);
}

.text {
    font: var(--font-m);
}

.theme-primary {
    .title {
        color: var(--primary-color);
    }

    .text {
        color: var(--secondary-color);
    }
}

.theme-error {
    .title {
        color: var(--red-light);
    }

    .text {
        color: var(--red-dark);
    }
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.size-L {
    .title {
        font: var(--font-xl);
    }

    .text {
        font: var(--font-l);
    }
}

.size-M {
    .title {
        font: var(--font-l);
    }

    .text {
        font: var(--font-m);
    }
}

.fontWeight-400 {
    .title,
    .text {
        font-weight: 400;
    }
}

.fontWeight-500 {
    .title,
    .text {
        font-weight: 500;
    }
}

.fontWeight-600 {
    .title,
    .text {
        font-weight: 600;
    }
}

.fontWeight-700 {
    .title,
    .text {
        font-weight: 700;
    }
}
