.title {
    font: var(--font-l);
}

.text {
    font: var(--font-m);
}

.primary {
    .title {
        color: var(--primary-color);
    }

    .text {
        color: var(--secondary-color);
    }
}

.error {
    .title {
        color: var(--red-light);
    }

    .text {
        color: var(--red-dark);
    }
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.L {
    .title {
        font: var(--font-xl);
    }

    .text {
        font: var(--font-l);
    }
}

.M {
    .title {
        font: var(--font-l);
    }

    .text {
        font: var(--font-m);
    }
}

.fontWeight-400 {
    .title {
        font-weight: 400;
    }

    .text {
        font-weight: 400;
    }
}

.fontWeight-500 {
    .title {
        font-weight: 500;
    }

    .text {
        font-weight: 500;
    }
}

.fontWeight-600 {
    .title {
        font-weight: 600;
    }

    .text {
        font-weight: 600;
    }
}

.fontWeight-700 {
    .title {
        font-weight: 700;
    }

    .text {
        font-weight: 700;
    }
}
