body.dark {
    --bg-color: #191a19;
    --inverted-bg-color: #4e9f3d;
    --primary-color: rgb(234 240 240);
    --secondary-color: #ccc;
    --inverted-primary-color: white;
    --inverted-secondary-color: rgb(176 170 170);
}
