body.orange {
    --bg-color: #d9faff;
    --inverted-bg-color: #fd5f00;
    --primary-color: #00204a;
    --secondary-color: #005792;
    --inverted-primary-color: #e3f4f7;
    --inverted-secondary-color: #eaebed;
}
